<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<body>
	<div th:replace="fragments :: menu"></div>
	
	<div th:style="'display:flex; padding:20px; justify-content:space-between'">
		<div>
			<h1>Kierrosajat</h1>
		</div>
	</div>
	<div>
	<table>
		<tr>
			<th>ID</th>
			<th>Kuljettaja</th>
			<th>Auto</th>
			<th>Rata</th>
			<th>Kierrosaika</th>
			<th>Päivämäärä</th>
			<th>Keli</th>
		</tr>
		<tr th:each="laptime : ${laptimes}">
			<td th:text="${laptime.id}" />
			<td th:text="${laptime.user.getUsername()}" />
			<td th:text="${laptime.user.getCars().get(0).getModel() + ' ' + laptime.user.getCars().get(0).getEngine()}"  />
			<td th:text="${laptime.track.getName()}" />
			<td th:text="${laptime.laptime}" />
			<td th:text="${laptime.date}" />
			<td th:text="${laptime.weather}" />
		</tr>
	</table>
	</div>
</body>
</html>