<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: html_head" />
<body>
	<div th:replace="fragments :: menu"></div>
	
	<section class="vh-100" style="background-color: #508bfc;">
	  <div class="container py-5 h-100">
	    <div class="row d-flex justify-content-center align-items-center h-100">
	      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
	        <div class="card shadow-2-strong" style="border-radius: 1rem;">
	          <div class="card-body p-5 text-center">
	
	            <h3 class="mb-5" th:text="${msg}"></h3>
	            <h3 class="mb-5" th:text="${param.logout} ? 'Olet kirjautunut ulos' : 'Kirjaudu sisään'"></h3>
	            <p th:text="${param.error} ? 'Väärä käyttäjänimi tai salasana!' : ''"></p>
			<form th:action="@{/login/}" method="post">
	            <div class="form-outline mb-4">
	              <input type="text" name="username" class="form-control form-control-lg" placeholder="Käyttäjänimi"/>
	            </div>
	
	            <div class="form-outline mb-4">
	              <input type="password" name="password" class="form-control form-control-lg" placeholder="Salasana" />
	            </div>
	            <button class="btn btn-primary btn-lg btn-block" type="submit">Kirjaudu</button>
	        </form>
	            <hr class="my-4">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
</body>
</html>